{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Добавление нового договора {% endblock %}</h1>
<br>
<form method="post" class="px-4">
    <div class="row mb-3">
        <label for="number-date" class="col-sm-3 col-form-label">Номер, дата договора</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="number" value="{{ request.form['number'] }}" placeholder="2024-1-ПП">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="date" value="{{ request.form['date'] }}" placeholder="01.01.2024">
        </div>
    </div>
    <div class="row mb-3">
        <label for="deal_type" class="col-sm-3 col-form-label">Тип сделки</label>
        <div class="col-sm-8">
            <select class="form-select" name="deal_type">
                <option value='книга продажа'>книга продажа</option>
                <option value='книга аренда'>книга аренда</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="book" class="col-sm-3 col-form-label">Книга</label>
        <div class="col-sm-8">
            <select class="form-select" name="book">
                <option value='0'>Книга...</option>
                {% for a in books %}
                    <option value={{a.id_book}}>{{a.book_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="owner" class="col-sm-3 col-form-label">Покупатель</label>
        <div class="col-sm-8">
            <select class="form-select" name="owner">
                <option value='0'>Покупатель...</option>
                {% for c in clients %}
                    <option value={{c.id_client}}>{{c.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="price-discount" class="col-sm-3 col-form-label">Стоимость и размер скидки</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="start_price" value="{{ request.form['start_price'] }}" placeholder="10000">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="discount" value="{{ request.form['discount'] }}" placeholder="10">
        </div>
    </div>
    <div class="row mb-3">
        <label for="finish price" class="col-sm-3 col-form-label">Итоговая стоимость</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="finish_price" value="{{ request.form['finish_price'] }}" placeholder="10000">
        </div>
    </div>
    <div class="row mb-3">
        <label for="employee" class="col-sm-3 col-form-label">Сотрудник</label>
        <div class="col-sm-8">
            <select class="form-select" name="employee">
                <option value='0'>Сотрудник...</option>
                {% for e in employees %}
                    <option value={{e.id_employee}}>{{e.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi-file-earmark-binary"></i> Добавить договор</button>
</form>

{% endblock %}